{% extends "base.html" %}
{% block title %}Generate Random Player{% endblock %}
{% block style %}{{url_for("static", filename="styles/gen.css")}}{% endblock%}
{% block content%}
    {% if value != "blank" %}
        <p>Name: {{value.name}}, Team: {{value.team}}
        <img id="image" src={{value.url}}>
        <form action = "result{{value.name}}" method="post">
            <p>Guess Player  <input type="text" name="guess" placeholder="Enter Guess"/></p>
            <p><input type="submit" value="submit" /></p>
        </form>
        <form action="#" method="POST">
            <h1>{{value.team}}</h1>
            <input type="hidden" name="pick_team" value="{{value.team}}">
            <input type="submit" name="submit" value="Generate New Player">
        </form>
    {% else %}
        <p>No players found</p>
    {% endif %}
{% endblock %}