{% extends "base.html" %}
{% block title %}Generate Random Player{% endblock %}
{% block style %}{{url_for("static", filename="styles/gen.css")}}{% endblock%}
{% block content%}
    {% if value != "blank" %}
        <div class="title">
            <h1>Guess the player!</h1>
        </div>
        <div class="img_div">
            <img id="image" src={{value.url}}>
        </div>
        <div class="guess_div">
            <form action = "result{{value.name}}" method="post">
                <p>Guess Player <input type="text" name="guess" placeholder="Enter Guess" autocomplete="off"/><input id="submit_button" type="submit" value="submit" /></p>
            </form>
        </div>
        <div class="generate_div">
            <form action="#" method="POST">
                <input type="hidden" name="pick_team" value="{{value.team}}">
                <p>Don't know? <input type="submit" name="submit" value="Generate A New Player"></p>
            </form>
        </div>
        <div class="report_div">
            <form action="#" method="POST">
                <input type="hidden" name="pick_team" value="{{value.team}}">
                <p>Image broken? <input type="submit" name="submit" value="Report this Player"></p>
            </form>
        </div>
    {% else %}
        <p>No players found</p>
    {% endif %}
{% endblock %}