{% extends "base.html"%}
{% block title%}Home Page{% endblock%}

{% block content%}
    <div class="title">
        <h1>Pick your team!</h1>
    </div>
    <form action="gen" method="POST">
        <div class="logo_div">
            <div class="afc_east" class="nfl_division">
                <h1>AFC East</h1>
                <div class="division_teams">
                    <button class="logo_button" name="pick_team" value="buf"><img class="logo_image" src="{{url_for("static", filename="logos/bills_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="mia"><img class="logo_image" src="{{url_for("static", filename="logos/dolphins_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="nwe"><img class="logo_image" src="{{url_for("static", filename="logos/patriots_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="nyj"><img class="logo_image" src="{{url_for("static", filename="logos/jets_logo.png")}}"></button>
                </div>
            </div>
            <div class="afc_north" class="nfl_division">
                <h1>AFC North</h1>
                <div class="division_teams">
                    <button class="logo_button" name="pick_team" value="rav"><img class="logo_image" src="{{url_for("static", filename="logos/ravens_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="cin"><img class="logo_image" src="{{url_for("static", filename="logos/bengals_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="cle"><img class="logo_image" src="{{url_for("static", filename="logos/browns_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="pit"><img class="logo_image" src="{{url_for("static", filename="logos/steelers_logo.png")}}"></button>
                </div>
            </div>
            <div class="afc_south" class="nfl_division">
                <h1>AFC South</h1>
                <div class="division_teams">
                    <button class="logo_button" name="pick_team" value="htx"><img class="logo_image" src="{{url_for("static", filename="logos/texans_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="clt"><img class="logo_image" src="{{url_for("static", filename="logos/colts_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="jax"><img class="logo_image" src="{{url_for("static", filename="logos/jaguars_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="oti"><img class="logo_image" src="{{url_for("static", filename="logos/titans_logo.png")}}"></button>
                </div>
            </div>
            <div class="afc_west" class="nfl_division">
                <h1>AFC West</h1>
                <div class="division_teams">
                    <button class="logo_button" name="pick_team" value="den"><img class="logo_image" src="{{url_for("static", filename="logos/broncos_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="kan"><img class="logo_image" src="{{url_for("static", filename="logos/chiefs_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="rai"><img class="logo_image" src="{{url_for("static", filename="logos/raiders_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="sdg"><img class="logo_image" src="{{url_for("static", filename="logos/chargers_logo.png")}}"></button>
                </div>
            </div>
            <div class="nfc_east" class="nfl_division">
                <h1>NFC East</h1>
                <div class="division_teams">
                    <button class="logo_button" name="pick_team" value="dal"><img class="logo_image" src="{{url_for("static", filename="logos/cowboys_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="nyg"><img class="logo_image" src="{{url_for("static", filename="logos/giants_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="phi"><img class="logo_image" src="{{url_for("static", filename="logos/eagles_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="was"><img class="logo_image" src="{{url_for("static", filename="logos/commanders_logo.png")}}"></button>
                </div>
            </div>
            <div class="nfc_north" class="nfl_division">
                <h1>NFC North</h1>
                <div class="division_teams">
                    <button class="logo_button" name="pick_team" value="chi"><img class="logo_image" src="{{url_for("static", filename="logos/bears_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="det"><img class="logo_image" src="{{url_for("static", filename="logos/lions_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="gnb"><img class="logo_image" src="{{url_for("static", filename="logos/packers_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="min"><img class="logo_image" src="{{url_for("static", filename="logos/vikings_logo.png")}}"></button>
                </div>
            </div>
            <div class="nfc_south" class="nfl_division">
                <h1>NFC SOUTH</h1>
                <div class="division_teams">
                    <button class="logo_button" name="pick_team" value="atl"><img class="logo_image" src="{{url_for("static", filename="logos/falcons_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="car"><img class="logo_image" src="{{url_for("static", filename="logos/panthers_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="nor"><img class="logo_image" src="{{url_for("static", filename="logos/saints_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="tam"><img class="logo_image" src="{{url_for("static", filename="logos/buccaneers_logo.png")}}"></button>
                </div>
            </div>
            <div class="nfc_west" class="nfl_division">
                <h1>NFC WEST</h1>
                <div class="division_teams">
                    <button class="logo_button" name="pick_team" value="crd"><img class="logo_image" src="{{url_for("static", filename="logos/cardinals_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="ram"><img class="logo_image" src="{{url_for("static", filename="logos/rams_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="sfo"><img class="logo_image" src="{{url_for("static", filename="logos/49ers_logo.png")}}"></button>
                    <button class="logo_button" name="pick_team" value="sea"><img class="logo_image" src="{{url_for("static", filename="logos/seahawks_logo.png")}}"></button>
                </div>
            </div>
        </div>
    </form>
    
{% endblock %}