body {
    font-family: 'Oswald', sans-serif;
    background-color: #EAEAEA;
}

#image {
    height: 120px;
    min-width: 350px;
    border: 5px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
}

.img_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
     margin-left: 10px;
}
