body {color:blue}

.logo_image {
    height: 50;
    width: auto;
}

.logo_button {
    border: none;
    background-color: white;
}

.logo_div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 120px;
}


.nfl_division {
    display:flex;
    align-items: center;
    text-align: center;
}

.division_teams {
    display: flex;
}