body {
    font-family: 'Oswald', sans-serif;
    background-color: #EAEAEA;
    color: #013369;
}

.navbar {
    background-color: #013369!important;
}
.navbar-brand {
    color: #EAEAEA!important;
}

.navbar-toggler {
    color: #EAEAEA!important;
    border-color: #EAEAEA!important;
    border-width: 2px;
}

.nav-link {
    color: #EAEAEA!important;
}


.title {
    text-align: center;
    padding: 10px;
}

.main_div {
    display: grid;
    place-items: center;
}

.yearRange {
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown_div {
    display: flex;
    justify-content: center;
}


.logo_div {
    display: flex;
    flex-wrap: wrap;
    width: 344px;
}


.afc_east, .afc_west, .afc_north, .afc_south, 
.nfc_east, .nfc_west, .nfc_north, .nfc_south {
    text-align: center;
    margin-bottom: 8px;
}

.division_teams {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_button {
    background-color: #ffffff;
    border-color: #d50a0a;
    border-radius: 5px;
    border-size: .5px;
    margin: .5px;
}

.logo_image {
    width: auto;
    height: 46px;
}

.report_subject {
    height: 60px;
    width: 300px;
    margin-top: -8px;
    margin-bottom: 5px;
}

.report_message {
    height: 100px;
    width: 300px;
    margin-top: -8px;
    margin-bottom: 5px;
	   
}

@media only screen and (min-width: 980px) and (max-width: 981px){

    .logo_div {
	width: 540px;
    }
    
    .logo_image {
        width: auto;
        height: 70px;
    }

    .title {
	font-size: 30px;
    }

    .dropdown_div {
	font-size: 30px;
    }

    
    .navbar {
	background-color: #013369!important;

    }
    .navbar-brand {
	color: #EAEAEA!important;
	font-size: 40px;
    }
    .navbar-toggler {
	color: #EAEAEA!important;
	border-color: #EAEAEA!important;
	border-width: 2px;
	font-size: 30px;
    }
    .nav-link {
	color: #EAEAEA!important;
	font-size: 30px;

    }
    
}

    
